body {
    background-color: darkred;
    display: flex;
    justify-content: center;
}

.horse-button {
    margin: 20px auto;
    width: 60%;
    padding: 0;
    border: 0;
}

.horse {
    width: 100%;
    height: 100%;
}

